<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.rodinp.core.internalElementTypes">
      <internalElementType
            class="ac.soton.eventb.emf.core.extension.persistence.SerialisedExtension"
            id="serialisedExtension"
            name="%internalElementType.name">
      </internalElementType>
   </extension>
   <extension
         point="org.rodinp.core.attributeTypes">
      <attributeType
            id="serialised"
            kind="string"
            name="%attributeType.name">
      </attributeType>
      <attributeType
            id="extensionId"
            kind="string"
            name="Extension ID">
      </attributeType>
      <attributeType
            id="ePackageURI"
            kind="string"
            name="EPackage URI">
      </attributeType>
      <attributeType
            id="eClassifier"
            kind="string"
            name="EClassifier">
      </attributeType>
   </extension>
   <extension
         point="org.rodinp.core.itemRelations">
      <ubiquitous>
         <childType
               typeId="ac.soton.eventb.emf.core.extension.persistence.serialisedExtension">
         </childType>
      </ubiquitous>
      <relationship
            parentTypeId="ac.soton.eventb.emf.core.extension.persistence.serialisedExtension">
         <attributeType
               typeId="ac.soton.eventb.emf.core.extension.persistence.extensionId">
         </attributeType>
         <attributeType
               typeId="ac.soton.eventb.emf.core.extension.persistence.ePackageURI">
         </attributeType>
         <attributeType
               typeId="ac.soton.eventb.emf.core.extension.persistence.eClassifier">
         </attributeType>
         <attributeType
               typeId="ac.soton.eventb.emf.core.extension.persistence.serialised">
         </attributeType>
      </relationship>
   </extension>


	<!-- for persisting extensions as separate xmi files (force xmi to be used, xml does not work) -->
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.emf.ecore.xmi"
            id="ac.soton.eventb.emf.core.extension.persistence.contentType"
            name="EventB Extensions"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.content_parser">
      <parser
 			class="ac.soton.eventb.emf.core.extension.persistence.EventBExtensionResourceFactory"
            contentTypeIdentifier="ac.soton.eventb.emf.core.extension.persistence.contentType">
      </parser>
   </extension>
   
</plugin>
